<header>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link rel="icon" href="data:;base64,iVBORw0KGgo=">
	<div id="faixa">
		

		<nav> 			
			<a id="automoveis" href="http://localhost/Login_v2/views/home.html">Automóveis</a>
			<a id="despesas" href="http://localhost/Login_v2/views/despesa.html">Despesas</a>					
			<a id="sair" href="http://localhost/Login_v2/index.html">Sair<i class="fas fa-times"></i></a> 
		</nav>
	</div>
</header>